torch
tensorflow
numpy
pandas
scikit-learn
matplotlib
seaborn
torchvision
opencv-python
xgboost
shap
gTTS
transformers
sentence-transformers
SpeechRecognition
pygame
playsound
pyjokes
wikipedia
pyaudio
winshell